<mat-form-field>
  <mat-label>Meeting date</mat-label>
  <input
    matInput
    (dateChange)="setDateChanged()"
    [matDatepicker]="datepicker"
    [(ngModel)]="value"
  />
  <mat-datepicker #datepicker></mat-datepicker>
  <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
</mat-form-field>

<mat-form-field>
  <mat-label>Meeting time</mat-label>
  <input
    matInput
    [matTimepicker]="timepicker"
    [(ngModel)]="value"
    [ngModelOptions]="{ updateOn: 'blur' }"
    (selected)="setTimeChanged()"
  />
  <mat-timepicker #timepicker></mat-timepicker>
  <mat-timepicker-toggle [for]="timepicker" matSuffix></mat-timepicker-toggle>
</mat-form-field>
<hr>
<p>Value: {{ value }}</p>
<hr>
<pre>Date Changed: <strong>{{ dateChanged }}</strong></pre>
<pre>Date Changed: <strong>{{ timeChanged }}</strong></pre>
